---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.splash-section {
  padding: 4rem auto;
}

.archive__item-teaser img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.feature__wrapper--grid-center {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;

  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 3rem;     // ⬅️ ODDYCHA OD GÓRY
  padding-bottom: 3rem;  // ⬅️ ODDYCHA OD DOŁU

  align-items: center;
}

.feature__wrapper--grid-center .feature__item {
  width: 100%;
}